body  {
    background-color: black;
}

h1 {
    color: grey;
}

.label {
    display: inline-block;
}

.timestamp {
    width: 40%;
}

.machine {
    width: 20%
}

.fullname {
    width: 37%;
}

.list-group-item {
    background-color: grey;
}

.label {
    font-size: 1.4em;
    margin-right: 1%;
    background-color: grey;
}

.b103 {
    background-color: #635766;
    color: black;
}

.b107 {
    background-color: #007582;
    color: black;
}

.b160 {
    background-color: #F5E5C0;
    color: black;
}

.b162 {
    background-color: #F8AF1E;
    color: black;
}

.b215 {
    background-color: C#EA5930;
}